
<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/form.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>



    <center> <h1>You are Logged In </h1> </center>
    <center> <h1>You are Logged In </h1> </center>
    <center> <h1>You are Logged In </h1> </center>
    <center> <h1>You are Logged In </h1> </center>
    <center> <h1>You are Logged In </h1> </center>


<%- include('../includes/end.ejs') %>