#cart_products{  
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}




.cart-item{
    border: 2px solid rgb(42, 187, 78);
    height: 100px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0px;
}



.cart-title , .cart-img ,.quantity , .price , .cart-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  21px;
}

.cart-title{
    width: 15%;
    background-color: rgb(198, 228, 248);
    height: 100%;
    
}
.cart-img{
    width: 40%;
    height: 100%;
    background-color: rgb(198, 228, 248);
}

.cart-img > img {
    width: auto ;
    height: 100%;
}

.quantity{
    width: 15%;
    height: 100%;
    background-color: rgb(198, 228, 248);
   
}
.price{
    height: 100%;
    width: 15%;
    background-color: rgb(198, 228, 248);
}
.cart-delete{
    height: 40%;
    width: 10%;
    background-color: rgb(198, 228, 248);
    cursor: pointer;
}

.cart-delete:hover{
    background-color: rgb(32, 32, 71);
    color: white;
}


.dec_inc{
    /* border: 1px solid red; */
    margin : 0px 8px;
    width: 25px;
    font-size: 15px;
}

a{
    text-decoration: none;
}